<div *ngIf="repositories" class="repo-list">
    <div *ngFor="let repo of repositories">
        <app-repository-item [repository]="repo" [branches]="branches">
        </app-repository-item>
    </div>
</div>