<div class="container">
    <app-search-form (submitName)="getRepositories($event)" (clear)="onFormClear()"></app-search-form>
    <app-repository-list *ngIf="!isLoading" [repositories]="repositories"></app-repository-list>
    <div *ngIf="repositories && !repositories.length && !isLoading">There are no repositories</div>
    <div *ngIf="isLoading">loading...</div>
    <div *ngIf="isError">{{ errorMessage }}</div>
</div>