<mat-card class="repo">
    <mat-card-title>{{ repository.name }}</mat-card-title>
    <mat-card-subtitle>{{ repository.login }}</mat-card-subtitle>
    <app-branches [name]="repository.name" [login]="repository.login"></app-branches>
</mat-card>