<mat-card-content *ngFor="let branch of branches" class="branches__content">
    <span>Branch {{ branch.name }}: {{ branch.sha }}</span>
</mat-card-content>
<div *ngIf="branches && !branches.length">There are no branches</div>
<div *ngIf="isLoading">loading...</div>
<div *ngIf="isError">{{ errorMessage }}</div>
<mat-card-actions class="branches__actions">
    <button mat-raised-button color="primary" (click)="onGetBranches()">Get branches</button>
</mat-card-actions>